/* GENERAL STYLES */
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	max-width: 100vw;
	box-sizing: border-box;
}

section {
	padding: 1rem 0;
}

/* Text */
a {
	color: #00d2b5;
}

a:hover {
	color: #008c6f;
	text-decoration: none;
	box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000000;
}

h2 {
	font-weight: 800;
}

p {
	color: #6c757d;
}

#logo {
	font-weight: 500;
	font-size: 2em;
	display: flex;
	justify-content: center;
}

.title {
	font-size: 200%;
	padding: 50px 0;
}

.turquoise-text {
	color: #00d2b5;
}

/* Buttons */
button {
	background: #00d2b5;
	color: white;
	border: none;
	border-radius: 30px;
	padding: .8rem 2rem;
	transition: background-color .5s, padding .5s ease-out;
}

.dark-hover:hover {
	background: rgb(0, 210, 181);
	background: linear-gradient(90deg, rgba(0, 210, 181, 1) 0%, rgba(0, 164, 145, 1) 27%, rgba(20, 98, 103, 1) 100%);
}

.nav-button {
	border: none;
	color: black;
}

/* SECTIONS */
/* Navbar */
.sticky {
	position: sticky;
	top: 0;
	z-index: 1020;
}

/* Hero */
@media (min-width: 768px) {
	.navbar {
		box-shadow: 0px -11px 20px 10px #8888883b;
	}
}

#hero {
	padding-top: 60px;
}

/* Features */
#features {
	background: #efefef82;
}

.feature-card {
	padding: 2rem;
	margin: 1rem;
	border: none;
	transition: border .5s ease-in-out;
}

.feature-card:hover {
	border: 1px solid #00d2b6;
}

.icon-container {
	background: #00d2b5;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.icon {
	border-radius: 50%;
	transition: transform .8s ease-in-out;
}

.icon:hover {
	transform: rotate(360deg);
}

/* Testimonials */

.thumbnail {
	height: 100px;
	width: 100px;
	border-radius: 100%;
}

.quote {
	font-style: italic;
	line-height: 1.8rem;
	color: #807d7d;
	text-align: center;
	padding: 1rem;
}

@media (min-width: 768px) {
	.quote {
		padding: 1rem 20rem;
	}
}

.carousel-indicators li {
	background-color: #00d2b5;
	width: 4px;
	height: 4px;
	border-radius: 100%;
}
