/* GENERAL STYLES */
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	max-width: 100vw;
	line-height: 1.7;
}

section {
	padding: 5rem 0;
}

@media (min-width: 768px) {
	section {
		padding: 7rem 0;
	}
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

/* Text */
a {
	color: #00d2b5;
}

a:hover {
	color: #008c6f;
	text-decoration: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000000;
}

h2 {
	font-weight: 800;
	padding-top: 2rem;
}

p,
li {
	color: #6c757d;
}

#logo {
	font-weight: 500;
	font-size: 2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: .5rem;
}

#logo a {
	color: black;
}

.title {
	padding-bottom: 1rem;
	font-weight: bold;
	font-size: 200%;
}

@media (min-width: 768px) {
	.title {
		padding-bottom: 3rem;
	}
}

.turquoise-text {
	color: #00d2b5;
}

/* Buttons */
button {
	background: #00d2b5;
	color: white;
	border: none;
	border-radius: 30px;
	padding: .8rem 2rem;
	-webkit-transition: background-color .5s, padding .5s ease-out;
	-o-transition: background-color .5s, padding .5s ease-out;
	transition: background-color .5s, padding .5s ease-out;
}

.button-hover:hover {
	background: rgb(0, 210, 181);
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(rgba(0, 210, 181, 1)),
		color-stop(27%, rgba(0, 164, 145, 1)),
		to(rgba(20, 98, 103, 1))
	);
	background: -o-linear-gradient(left, rgba(0, 210, 181, 1) 0%, rgba(0, 164, 145, 1) 27%, rgba(20, 98, 103, 1) 100%);
	background: linear-gradient(90deg, rgba(0, 210, 181, 1) 0%, rgba(0, 164, 145, 1) 27%, rgba(20, 98, 103, 1) 100%);
}

.nav-button {
	border: none;
	color: black;
}

/* SECTIONS */
/* Navbar */
.header {
	padding: .5rem 1rem;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1020;
}

@media (min-width: 768px) {
	.navbar {
		-webkit-box-shadow: 0px -11px 20px 10px #8888883b;
		box-shadow: 0px -11px 20px 10px #8888883b;
	}
}

.navbar-light .navbar-nav .contact > .nav-link {
	color: #00d2b5;
}

/* Navbar */
#menuToggle {
	display: block;
	position: relative;
	right: 10px;
	z-index: 1;

	-webkit-user-select: none;
	user-select: none;
}

#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;

	background: #000000;
	border-radius: 3px;

	z-index: 1;
}

#menu {
	display: none;
	position: absolute;
	width: 10rem;
	padding: 28px;
	right: -10rem;

	background: #fffffff5;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;

	transform-origin: 0% 0%;
	transform: translate(-100%, 0);

	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
	padding: 10px 0;
}

/* Hero */
#hero {
	min-height: 80vh;
	padding: 0;
}
#hero .row {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.hero-img {
	background: url("../images/landing_1.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 40vh;
}

@media (min-width: 768px) {
	.hero-img {
		height: 55vh;
	}
}

@media (min-width: 992px) {
	.hero-img {
		height: 100vh;
	}

	.hero-text {
		padding: 0 6rem;
	}

	.hero-text h2 {
		font-size: 250%;
		padding-right: 5rem;
	}
}

/* Features */
.gray-bg {
	background: #f6f6f6;
}

.feature-card {
	padding: 2rem;
	margin: 1rem;
	border: none;
	-webkit-transition: border .5s ease-in-out;
	-o-transition: border .5s ease-in-out;
	transition: border .5s ease-in-out;
}

.feature-card:hover {
	border: 1px solid #00d2b6;
}

.icon-container {
	background: #00d2b5;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	margin-bottom: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: white;
}

.icon {
	border-radius: 50%;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition: -webkit-transform .8s ease-in-out;
	-o-transition: transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
	transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
}

.icon:hover {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

/* Prototypes */
.prototypes {
	padding-bottom: 7rem;
}

.icon {
	padding-right: 1rem;
	color: #91d054;
}

.sm-thumbnail {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	margin: 1rem;
}

.list {
	padding: 1rem 0;
}

.list li {
	margin-bottom: .8rem;
}

article.card {
	-webkit-box-shadow: 2px 1px 19px -10px rgba(161, 158, 161, 1);
	box-shadow: 2px 1px 19px -10px rgba(161, 158, 161, 1);
}

/* About Us */
.about-text {
	padding: 0 3rem;
	text-align: center;
}

.about-text h3 {
	padding: 2rem 0 1rem 0;
}

.about-text blockquote {
	padding-bottom: 2rem;
}

@media (min-width: 768px) {
	.about-text {
		padding: 0 5rem;
	}
}

@media (min-width: 992px) {
	.about-text {
		text-align: left;
	}
}

/* Testimonials */

#testimonials h3 {
	padding-bottom: 0;
}

#testimonials {
	padding-bottom: 0;
}

.thumbnail {
	height: 100px;
	width: 100px;
	border-radius: 100%;
}

.quote {
	font-style: italic;
	line-height: 1.8rem;
	color: #807d7d;
	padding: 1rem;
}

.carousel-item div .quote {
	text-align: center;
}

@media (min-width: 768px) {
	.carousel-item div .quote {
		padding: 1rem 5rem;
	}
}

@media (min-width: 992px) {
	.carousel-item div .quote {
		padding: 1rem 20rem;
	}
}

.carousel-indicators li {
	background-color: #00d2b5;
	width: 4px;
	height: 4px;
	border-radius: 100%;
}

/* Contact */
.contact-form {
	background-color: white;
	margin: 1rem 2rem;
	padding: 2rem;
}

.contact-form h5 {
	padding-bottom: 2rem;
}

@media (min-width: 768px) {
	.contact-form {
		padding: 3rem;
	}

	.contact-form h5 {
		padding-bottom: 2rem;
	}
}

/* Footer */
footer {
	padding: 2rem 0 1rem 0;
}

@media (min-width: 992px) {
	footer {
		padding: 5rem 0 1rem 0;
	}
}
